section#corpofull2{
    
    width: 1200px;
    margin-left: 25px;
}

section#corpofull2 h1{
    
    font-family: 'fonte';
    font-size: 24pt;
    margin-bottom:-20px;
}
section#corpofull2 h3{
    color:darkgray;
    
}
section#corpofull2 h3.dir{
    color: darkgray;
    left: 500px;
    font-size: 8pt;
    float: right;
    margin-bottom: 10px;
    
}

article#conteudo {
    font-family: Arial, sans-serif;
    margin-top: 70px;
    text-align: justify;
    font-size: 14pt;
    font-weight:normal;
}

  
ul#album {
        width: 700px;
        margin: auto;
        padding: 50px;
        overflow: hidden;
        list-style: none;  
        
}        

ul#album li{
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 5px solid white;
    background-color: #ffffff;
    box-shadow: 1px 1px 3px rgba(0,0,0,.4);    
        -webkit-transition:all .5s ease-in;
}

ul#album li span{
    opacity:0;
    color: white;
    text-shadow: 1px 1px 1px #000000;
    background-color: rgba(0,0,0,.3);
    font-size: 9pt;
    margin-left: 4px;
    line-height: 370px;
    padding: 5px;
    
    
}
 ul#album li:hover span{
    opacity: 1;
    transition: 2seg;
    
}

ul#album li#foto0{
    background: url('../_imagens/galeria-01.jpg'); 
    background-position: 50% 50%;
    background-size: 400px;
    
}
ul#album li#foto0:hover{
    background-position: 0% 0%;
    background-size: 200px 200px;
    
}
ul#album li#foto1{
    background: url('../_imagens/galeria-02.jpg'); 
    background-position: 50% 50%;
    background-size: 400px 400px;
}
ul#album li#foto1:hover{
    background-position: 0% 0%;
    background-size: 200px 200px;
    
}
ul#album li#foto2{
    background:url('../_imagens/galeria-03.jpg'); 
    background-position: 50% 50%;
    background-size: 400px 400px;
}
ul#album li#foto2:hover{
    background-position: 0% 0%;
    background-size: 200px 200px;
    
}
ul#album li#foto3{
    background:url('../_imagens/galeria-04.jpg'); 
    background-position: 50% 50%;
    background-size: 400px 400px;
}
ul#album li#foto3:hover{
    background-position: 0% 0%;
    background-size: 200px 200px;
    
}
ul#album li#foto4{
    background:url('../_imagens/galeria-05.jpg'); 
    background-position: 50% 50%;
    background-size: 400px 400px;
}
ul#album li#foto4:hover{
    background-position: 0% 0%;
    background-size: 200px 200px;
    
}
ul#album li#foto5{
    background:url('../_imagens/galeria-06.jpg'); 
    background-position: 50% 50%;
    
}   
ul#album li#foto5:hover{
    background-position: 0% 0%;
    background-size: 200px 200px;
    
}
ul#album li:hover{
    -webkit-transform: scale(1.5);
    
    
}